.clipboard {
    display: flex;
    border-radius: 8px;
    gap: .5rem;
    width: min-content;
    padding: 8px 10px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(229, 232, 235);
    user-select: none;
    cursor: pointer;
    transition: all 150ms ease;
}

.clipboard:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white
}

.clipboard:active > i {
    /*transform: scale(1.01);*/
    color: orange;
}

.clipboard i {
    color: rgb(32, 129, 226);
}

.clipboard__span {
    width: min-content;
}